<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simonren.startupservicesoverlay">

    <overlay
        android:priority="1"
        android:targetPackage="com.android.car" />

    <application
        android:extractNativeLibs="true"
        android:hasCode="false"
        android:usesNonSdkApi="true" />
</manifest>